#h1{
        font-family: 'Dela Gothic One', cursive;
        text-align: center;
}
#os{
  text-align: center;  
}
body {
    text-align: center;
     background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

}
#p1{
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 90;
    color: blue;
    
}
#as{
    height: 4
}
#p{
 font-family: 'Dela Gothic One', cursive;   
}
#at{
    color: red;
}
#g p{
    cursor: pointer;
    
}
#g p:hover{
    color: red;
    font-size:25; 
}
.button{
    background-color: yellow;
    cursor:pointer;
    width: 50;
    font-size:40;
    font-family: 'Dela Gothic One', cursive;
    z-index:50px;
}
    #one{
        text-align: center;
    }
#bodyo{
     text-align: center;
    background: linear-gradient(to bottom, red 0%, blue 100%);

}
#button{
    cursor:pointer;
    color: red;
}
.mw{
    list-style: none;
}
.links{
    float: right;
    padding-right:30;
    color:  black;
    font-family: 'Londrina Solid', cursive;
    font-size: 40;
    
}
.links:hover{
    
    background-color:white;
    
    
}
.line{
    width: 150;
    color: black;
    height: 10;
    background-color: black;
    text-align: center;
    margin: auto;
}
#imgo:hover{
    height: 350;
}


